<div style="color:white;">
    <h2>Here are all Tickets which you have created</h2>
    <%= link_to "New ticket", new_ticket_path, class: "btn btn-primary mb-4 rounded-0"%>
<table class= 'table table-bordered'  style="color:white; width:95%; margin:auto;">
<thead>
<tr>
<th>Subject</th>
</tr>
</thead>


<tbody>

<%@tickets.each do |ticket|%>
    <tr>
        <td><%= link_to ticket.subject, ticket %></td>
        
        
    </tr>
<%end%>
</tbody>
</table>

</div>





<div style="color:white;">

<h2>Here are all Tickets which you have created</h2>


<%= link_to "New ticket", new_ticket_path, class: "btn btn-primary mb-4 rounded-0"%>
<table class= 'table table-bordered'  style="color:white; width:95%; margin:auto;">
<thead>
<tr>
<th>Subject</th>
<th>Description</th>
<th>Due date</th>
<th>Priority</th>
<th>assigned_to</th>
<th>department_id</th>
<th>Action</th>
</tr>
</thead>


<tbody>

<%@tickets.each do |ticket|%>
    <tr>
        <td><%=ticket.subject%></td>
        <td><%=ticket.description%></td>
        <td> <%=ticket.due_date%></td>
        <td> <%=ticket.priority%></td>
         <%user  = User.where("id =?", ticket.assigned_to).first%>
        <td><%=user.name%></td>
        <td> <%=Department.where("id = ?",ticket.department_id).first.department_name%></td>
        <td> <%= link_to "Destroy", ticket_path(ticket),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></td>
    </tr>
<%end%>
</tbody>
</table>

</div>

