<!DOCTYPE html>
<html>
  <head>
    <title>LoginApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: rgb(96,198,76);background: linear-gradient(90deg, rgba(96,198,76,1) 13%, rgba(121,103,9,1) 61%, rgba(0,212,255,1) 79%);">
    <%= render 'shared/navbar' %>
    <div class="container">
        <p class="notice" style= "background: bisque;color: red;"><%= notice %></p>
        <p class="alert"  style= "color: red;"><%= alert %></p>
        <%= yield %>
    </div>
  </body>
</html>